<div class='question-container'>
  <% @questions.each do |question| %>

    <article id="<%= question.id %>">
   <div>
    <form method="post" action='/questions/<%= question.id %>/votes' class="inline">
      <button type="submit" name="value" value="1" class="fa fa-sort-desc vote-button upvote-button <%
        if question.votes.length > 0
          question.votes.each do |vote|
          if vote.value == 1 && vote.voter_id == session[:user_id].to_i%>
            used_upvote
          <% end
          end
        end %>">
       </button>
    </form>
    <form method="post" action='/questions/<%= question.id %>/votes' class="inline">
      <button type="submit" name="value" value="-1" class="fa fa-sort-asc vote-button downvote-button <%
        if question.votes.length > 0
          question.votes.each do |vote|
          if vote.value == -1 && vote.voter_id == session[:user_id].to_i%>
            used_downvote
          <% end
          end
        end %>"></button>
        <span class='points'><%= question.points %></span>
      </form>
     </div>
      <h2><a href='/questions/<%= question.id %>'><%= question.title %></a></h2>
      <p>
        <span class='username'><%= question.asker.user_name %></span>
        <span class='timestamp'><%= question.time_since_creation %></span>
        <span class='comment-count'><%= question.comments.count %></span>
        <a class="delete" href='/posts/<%= question.id %>'></a>
      </p>
    </article>

  <% end %>
</div>

<%= erb :'/_new_question_form'  %>

<% if @error %>
<p class='error'><%= @error %></p>
<% end %>
