<h1><%= @question.title %></h1>
<h4><%= @question.asker.user_name  %></h4>
<p><%= @question.content %></p>

<div>
  <% if @question.asker.id == session[:user_id] %>
    <a class='edit-delete' href="/questions/<%= @question.id %>/edit">Edit</a>
    <form class = 'edit-delete' action='' method='post'>
      <input type='hidden' name='_method' value='Delete'>
      <input type='submit' value='delete'>
    </form>
  <% end %>

   <form method="post" action='/questions/<%= @question.id %>/votes' class="inline">
      <button type="submit" name="value" value="1" class="fa fa-sort-desc vote-button upvote-button <%= if @q_votes != nil && @q_votes.length > 0 && @q_votes[0].value == 1 then "used_upvote" end %>" ></button>
    </form>
    <form method="post" action='/questions/<%= @question.id %>/votes' class="inline">
      <button type="submit" name="value" value="-1" class="fa fa-sort-asc vote-button downvote-button <%= if @q_votes != nil && @q_votes.length > 0 && @q_votes[0].value == -1 then "used_downvote" end %>"></button>
      <span class='points'><%= @question.points %></span>
    </form>
</div>

<p>--COMMENTS--</p>
<div class='comment-section'>
  <button class='display-commentbox'>Post a comment</button>
  <form class='addcomment hidden' method="post" action="/questions/<%=@question.id%>/comments" >
    <input type='text' name="content" placeholder="Your Comment">
    <input id="submit" type="submit" name="submit" value="Add Comment" >
  </form>
</div>
<div class='comment-container'>
  <% @question.comments.each do |comment| %>
  <article class='comment-bit'>
    <p class='username'>Author: <%= comment.commentator.user_name %></p>
    <p> <%= comment.content %></p>
  </article>
  <% end %>
</div>

<p>--ANSWERS--</p>
<button class='display-answerbox'>Post an answer</button>
<%= erb(:'_answer', layout: false ) %>
<% @question.answers.each do |answer| %>
  <article id="<%= answer.id %>">
   <div>
    <form method="post" action='/answers/<%= answer.id %>/votes' class="inline">
      <button type="submit" name="value" value="1" class="fa fa-sort-desc vote-button upvote-button <%
        if @filtered_a_votes != nil && @filtered_a_votes.length > 0
          @filtered_a_votes.each do |vote|
            if vote.value == 1 && vote.votable_id == answer.id%>
              used_upvote
            <%end
          end
        end %>"></button>
    </form>
    <form method="post" action='/answers/<%= answer.id %>/votes' class="inline">
      <button type="submit" name="value" value="-1" class="fa fa-sort-asc vote-button downvote-button <%
        if @filtered_a_votes != nil && @filtered_a_votes.length > 0
          @filtered_a_votes.each do |vote|
            if vote.value == -1 && vote.votable_id == answer.id%>
              used_downvote
            <%end
          end
        end %>"></button>
    <span class='points'><%= answer.points %></span>
    </form>
   </div>
      <span class='username'><%= answer.answerer.user_name %></span>
      <span class='timestamp'> Time since your post: <%= answer.time_since_creation %> hours</span>
  </article>
      <p> <%= answer.content %></p>
      <% if answer.answerer_id == session[:user_id] %>
        <a href="/answers/<%= answer.id %>/edit">Edit</a>
        <form class = 'edit-delete' action='/answers/<%= answer.id %>' method='post'>
          <input type='hidden' name='_method' value='Delete'>
          <input type='submit' value='delete'>
        </form>
      <% end %>
    <p>--------------- answer comments ------------</p>
    <% answer.comments.each do |acomment| %>
      <article>
        <p> <%= acomment.content %></p>
        <p class='username'>Author: <%= acomment.commentator.user_name %></p>
      </article>
    <% end %>
  <div class='comment-section'>
    <button class='display-commentbox'>Post a comment</button>
    <form class='addcomment hidden' method="post" action="/answers/<%=answer.id%>/comments" >
      <input type='text' name="content" placeholder="Your Comment">
      <input id="submit" type="submit" name="submit" value="Add Comment" >
    </form>
  </div>
<% end %>
